priority 0

snippet ngFor "Angular *ngFor snippet" i
*ngFor="let ${1:item} of ${2:list}"
endsnippet

snippet ngIf "Angular *ngIf snippet" i
*ngIf="${1:expression}"
endsnippet

snippet ngModel "Angular ngModel snippet" i
[(ngModel)]="${1:binding}"
endsnippet

snippet routerLink "Angular routerLink snippet" i
[routerLink]=['/${1:routeName}']
endsnippet

